    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #FFFFFF;
        font-family: 'Oswald', sans-serif;
        color: #6682A1;
    }
    
    p {
        font-family: 'Quattrocento', serif;
        font-size: 1.2em;
    }
    
    .container {
        display: grid;
        /* rows: header, main, footer */
        grid-template-rows: auto auto auto;
        width: 80vw;
        margin: 0 auto;
        background-color: #FFFFFF;
    }
    
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: scale(.7, .7)
        }
        to {
            opacity: 1;
        }
    }
    
    .fade-in-element {
        animation: fade-in 2s;
    }
    
    .hidden {
        opacity: 0;
    }
    
    #toTop {
        display: none;
        position: fixed;
        bottom: 3%;
        right: 0%;
        z-index: 99;
        background-color: #6682A1;
        color: white;
        cursor: pointer;
        padding: 15px;
        font-size: 2em;
    }
    
    #toTop:hover {
        background-color: #555;
    }
    
    .mar3,
    h3 {
        margin: 3% 0;
    }
    
    h2 {
        margin-top: 5%;
    }
    
    header {
        display: flex;
        flex-direction: column;
    }
    
    nav {
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: space-between;
        align-items: center;
        padding-left: 2%;
    }
    
    a {
        padding-top: 20vh;
        margin-top: -20vh;
    }
    
    nav ul {
        width: 75vw;
        flex-direction: column;
    }
    
    nav ul li {
        width: 15vw;
        padding: 0
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100vw;
        opacity: 90%;
        z-index: 1;
    }
    
    ul {
        list-style-type: none;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    
    ul li {
        text-decoration: none;
        display: inline-block;
        padding: 3% 5%
    }
    
    ul li a {
        text-decoration: none;
        color: white;
    }
    
    nav ul li:hover {
        text-decoration: underline;
    }
    
    main {
        display: flex;
        flex-direction: column;
        padding: 3% 0;
    }
    
    .banner {
        height: 100vh;
        background-image: url(../images/no-bottle-min.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .skills li {
        font-size: 2.5em;
        animation: bounceIn 2s;
    }
    
    .block-container {
        display: flex;
        flex-direction: column;
    }
    
    .block-container .block {
        background-color: darkgreen;
        height: 50vh;
        flex-grow: 1;
        position: relative;
        overflow: hidden;
    }
    
    .block-container .block #blockWithBackground {
        height: 1000px;
        position: absolute;
        width: 100%
    }
    
    .experience {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    /* .experience__exp {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 20%;
    margin: 1%;
} */
    
    .experience__exp {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-basis: 80%;
        margin: 1%;
    }
    
    .experience__exp h3 {
        margin: 2% 0;
    }
    
    .experience__exp ol {
        list-style-type: circle;
        font-family: 'Quattrocento', serif;
    }
    
    .experience__exp .show {
        display: inline-block;
    }
    
    .experience__exp i {
        text-align: center;
        font-size: 6em;
    }
    
    .experience__exp i:hover {
        color: #B63961;
        font-size: 6.5em
    }
    
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .projects__project {
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
    }
    
    .projects__project .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .projects__project .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    
    .projects__project .modal-content img {
        height: 80%;
        width: 90%;
    }
    
    .projects__project .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .projects__project .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .contacts {
        display: flex;
        justify-content: center;
    }
    
    .contacts label {
        font-size: 1.5em;
    }
    
    .contacts input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical
    }
    
    .contacts input[type=submit] {
        background-color: #B63961;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 3px;
        width: 20%;
        cursor: pointer;
        float: right;
        font-size: 1.5em;
    }
    
    .contacts input[type=submit]:hover {
        background-color: #426993;
    }
    
    .container {
        padding: 20px;
    }
    
    .contacts__contact {
        display: flex;
        background-color: white;
        align-content: center;
        flex-direction: column;
        flex-basis: 60%;
        justify-content: space-between;
    }
    
    footer {
        display: flex;
        background-color: #426993;
        color: white;
        justify-content: space-between;
        align-items: center;
        padding-left: 2%;
        width: 100%;
        height: 15vh;
    }
    
    footer ul {
        width: 30%;
    }
    
    footer ul li {
        width: 30%;
        padding: 0
    }
    /* Medium devices (tablet, 768px and up) */
    
    @media only screen and (min-width: 768px) {
        nav {
            flex-direction: row;
        }
        nav ul {
            width: 75vw;
            flex-direction: column;
        }
        a {
            padding-top: 10vh;
            margin-top: -10vh;
        }
        .experience__exp {
            flex-basis: 45%;
        }
    }
    /* Large devices (laptops/desktops, 1024px and up) */
    
    @media only screen and (min-width: 1024px) {
        .experience__exp {
            flex-basis: 20%;
        }
    }